<html>
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/site.css"/>
</head>

<body>
    <div class="container">
        <form action="/markovtwitter" method="GET">
            Screen name of twitter user <input type="text" name="screenname" id="screenname">  </input> <br>
            <inpyt type="submit" class="btn btn-primary">Show me their markov tweet</input>

        </form>
    </div>

</body>
</html>